# Ya existentes
node_modules/
.env
.env.*  # esto incluye .env.local, .env.production, etc.
.env.local
dist/
.next/
scripts/

# NUEVAS REGLAS

# Ignorar todos los archivos y carpetas ocultas (comienzan con un punto)
.* 
!.gitignore  # Pero no ignores este mismo archivo

# Ignorar carpetas y archivos que empiezan con números
[0-9]*

# Ignorar todos los archivos .zip
*.zip
